extends partial/layout

block container
    .center-block.clearfix
        #search-box
        h4 Tags
        #tags-list
        img(src='https://www.algolia.com/static_assets/images/press/downloads/search-by-algolia.png', width='200', style='float: left;')
    #hits
    #pagination


block copyright
    include partial/copyright
